* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
  font-size: 1rem;
}

.container {
  padding: 0 4%;
  max-width: 80rem;
  margin: 80px auto;
}

.flex {
  display: flex;
  justify-content: space-around;
}

a {
  cursor: pointer;
}

a {
  color: rgb(55, 55, 55);
}

a:houver {
  color: #0000cd;
}
img {
  width: 80px;
}

h1 {
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
}

p {
  line-height: 20px;
  max-width: 500px;
  font-family: poppinslight;
}

header {
  display: flex;
  height: 5rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
}

header a {
  font-weight: bold;
}

.btn {
  background-color: aqua;
  color: blue;
  font-weight: bold;
  border-radius: 8px;
  padding: 1rem 1.4rem;
  border: none;
}

#title {
  flex-direction: column;
  line-height: 10px;
}

li {
  display: inline-block;
  margin: 20px;
}

main {
}

main #hero {
  background-color: blue;
  color: white;
  width: 100%;
  padding-block: 60px;
  text-align: center;
}

main #hero p,
main #section4 p {
  text-align: center;
  margin: 2rem auto 0;
}

main #hero img {
  width: 25rem;
}

main .section-text {
  max-width: 560px;
}

main .section-text h2,
main #section4 h2 {
  font-size: 2rem;
}

main .section-text p {
  margin-block: 2rem;
  font-size: 1.4rem;
}

main .section-img img {
  width: 20rem;
}

main #section4 {
  background-color: blue;
  color: white;
  width: 100%;
  padding-block: 60px;
  text-align: center;
}

main #section4 p {
  font-size: 1.4rem;
}

main #section4 button {
  margin: 3rem 0;
}

main #section4 img {
  width: 40rem;
}

footer {
  background-color: blue;
  color: white;
}
