* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppinsregular';
  font-size: 62.5%; /* 1rem = 10px */
  font-size: 1rem;
}

.container {
  padding: 0 4%;
  max-width: 80rem;
  margin: 80px auto;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.btn {
  background-color: rgb(60, 179, 113);
  color: black;
  font-weight: bold;
  border-radius: 8px;
  padding: 1rem 1.4rem;
  border: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

h1 {
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
}

p {
  line-height: 20px;
  max-width: 500px;
}

header {
  display: flex;
  height: 5rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  background-color: #bdb76b;
}

header .logo img {
  width: 4.8rem;
}

header a {
  font-weight: bold;
}

header .btn {
  background-color: transparent;
  border: 2px solid rgb(55, 55, 55);
}

header .btn:hover {
  background-color: rgb(60, 179, 113);
  color: #f0e68c;
}

#title {
  flex-direction: column;
  line-height: 10px;
}

li {
  display: inline-block;
  margin: 20px;
}

main {
  background-color: #f2f2f2;
}

main #hero {
  background-color: #90ee90;
  width: 100%;
  padding-block: 60px;
  text-align: center;
}

main #hero p,
main #section4 p {
  text-align: center;
  margin: 2rem auto 0;
}

main #hero img {
  width: 35rem;
}

main .section-text {
  max-width: 560px;
}

main .section-text h2,
main #section4 h2 {
  font-size: 2rem;
}

main .section-text p {
  margin-block: 2rem;
  font-size: 1rem;
  line-height: 1.2rem;
}

main .section-img {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  width: 300px;
}

main .section-img img {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

main #section4 {
  background-color: #90ee90;
  color: white;
  width: 100%;
  padding-block: 60px;
  text-align: center;
}

main #section4 p {
  font-size: 1.4rem;
}

main #section4 .box-btn {
  margin: 3rem 0;
}

main #section4 img {
  width: 40rem;
}

footer {
  margin-block: 60px;
}

footer p {
  text-align: center;
  margin: 4px auto;
}

footer .footer-img img {
  width: 400px;
}

footer .box-menu {
  gap: 4rem;
}

footer nav ul li {
  display: block;
}

footer .menu-title {
  font-size: 1.6rem;
  font-weight: bold;
}
